@font-face {
    font-family: 'BerlingskeSerif-Md';
    src: url('BerlingskeSerif-Md.woff2') format('woff2'),
        url('BerlingskeSerif-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'BerlingskeSerifRegular';
    src: url('BerlingskeSerif-Regular.woff2') format('woff2'),
        url('BerlingskeSerif-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BerlingskeSerif-MdItalic';
    src: url('BerlingskeSerif-MdItalic.woff2') format('woff2'),
        url('BerlingskeSerif-MdItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'MADE Evolve Sans';
    src: url('MADEEvolveSans.woff2') format('woff2'),
        url('MADEEvolveSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans';
    src: url('MADEEvolveSans-Medium.woff2') format('woff2'),
        url('MADEEvolveSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans';
    src: url('MADEEvolveSans-Medium.woff2') format('woff2'),
        url('MADEEvolveSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BerlingskeSerif-MdItalic';
    src: url('BerlingskeSerif-MdItalic.woff2') format('woff2'),
        url('BerlingskeSerif-MdItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BerlingskeSerif-Md';
    src: url('BerlingskeSerif-Md.woff2') format('woff2'),
        url('BerlingskeSerif-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans';
    src: url('MADEEvolveSans.woff2') format('woff2'),
        url('MADEEvolveSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans';
    src: url('MADEEvolveSans-Medium.woff2') format('woff2'),
        url('MADEEvolveSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BerlingskeSerif-Md';
    src: url('BerlingskeSerif-Md.woff2') format('woff2'),
        url('BerlingskeSerif-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans';
    src: url('MADEEvolveSans.woff2') format('woff2'),
        url('MADEEvolveSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BerlingskeSerif-MdItalic';
    src: url('BerlingskeSerif-MdItalic.woff2') format('woff2'),
        url('BerlingskeSerif-MdItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'BerlingskeSerif-BlkItalic';
    src: url('BerlingskeSerif-BlkItalic.eot');
    src: url('BerlingskeSerif-BlkItalic.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-BlkItalic.woff2') format('woff2'),
        url('BerlingskeSerif-BlkItalic.woff') format('woff'),
        url('BerlingskeSerif-BlkItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'BerlingskeSerif-BlkItalic';
    src: url('BerlingskeSerif-BlkItalic_1.eot');
    src: url('BerlingskeSerif-BlkItalic_1.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-BlkItalic_1.woff2') format('woff2'),
        url('BerlingskeSerif-BlkItalic_1.woff') format('woff'),
        url('BerlingskeSerif-BlkItalic_1.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'BerlingskeSerif-BlkItalic';
    src: url('BerlingskeSerif-BlkItalic_2.eot');
    src: url('BerlingskeSerif-BlkItalic_2.eot?#iefix') format('embedded-opentype'),
        url('BerlingskeSerif-BlkItalic_2.woff2') format('woff2'),
        url('BerlingskeSerif-BlkItalic_2.woff') format('woff'),
        url('BerlingskeSerif-BlkItalic_2.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

