*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, button {
    font-family:"Nunito", sans-serif;   
}

button	{
	font-weight: 600;
}

p {
	font-weight: 400;
}

.wrap-main {
	height: 100vh;
	display: grid;
	grid-template-columns: 3fr 4fr;
	grid-auto-rows: auto;
}

.left-item {
	background-color: rgb(47,47,47);
	color: #fff;
	padding: 40px 0;
}

.left-text-content {
	width: 75%;
	height: 75%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.description-dog {
	font-weight: 300;
	font-size: 36px;
	line-height: 50px;
}

.description-dog > span {
	font-weight: 600;
}

.story-btn, .donate {
	background-color: rgb(170,84,115);
	color: #fff;
	padding: 12px 38px;
	font-size: 14px;
	border-radius: 50px;
	border: none;
	margin-top: 40px;
	cursor: pointer;
}


.story-btn{
	padding: 14px 35px;
	border:4px solid rgb(170,84,115);
	transition:300ms;
}

.story-btn:hover{
	background-color: unset;
	border:4px solid rgb(170,84,115);
}


.donate {
	margin-top: 0;
	background-color: unset;
	border: 2px solid #fff;
	transition: 300ms;
}

.donate:hover {
	background-color: #fff;
	color: rgb(204, 150, 171);
}



.logo {
	font-size: 20px;
	font-weight: 700;
}

.right-item {
	background-color: rgb(204, 150, 171);
	color: #fff;
	padding: 40px 0;
	position: relative;
}

.right-item > img {
	position: absolute;
	z-index: 2;
	width: 450px;
	bottom: 0;
	left: 20%;
}

nav {
	padding: 0 20px;
}

.right-item > nav {
	width: 67%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow:1px 1px 90px 40px rgba(0,0,0,0.04);
	position: inherit;
	z-index: 2;
}

.right-item > nav > a {
	color: #fff;
	text-decoration: none;
}

.round-one {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: rgb(238, 190, 212);
	border-radius: 50%;
	top: 50%;
	left: 12%;
	z-index: 1;
	box-shadow:1px 1px 90px 40px rgba(0,0,0,0.04);
}

.round-two {
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 23px solid rgb(247,227,162);
	right: 15%;
	top: 40%;
	z-index: 1;
	box-shadow:1px 1px 90px 40px rgba(0,0,0,0.04);
}

.round-three {
	position: absolute;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 20px solid rgb(247,227,162);
	bottom: 10%;
		box-shadow:1px 1px 90px 40px rgba(0,0,0,0.055);
	left: 30%;
}	

.round-four {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	bottom: 8%;
	right: 10%;
	box-shadow:1px 1px 90px 40px rgba(0,0,0,0.055);

}

.left-arrow,
.right-arrow {
	position: absolute;
	top: 50%;
	padding: 20px;
	background-color: rgba(255,255,255,0.2);
}

.right-arrow {
	right: 0;
	border-radius: 10px 0 0 10px;
}

.left-arrow {
	border-radius: 0 10px 10px 0;
}


.left-arrow > img,
.right-arrow > img {
	width: 35px;
}

.left-arrow > img {
	transform: rotate(180deg);
}

.right-arrow > img {
	right: 0;
}




@media screen and (max-width: 480px) {
     .wrap-main {
     	grid-template-columns: 1fr;
     	height: unset;
     }

     .story-btn{
     	width: 100%;
     }

     .right-item{
     	height: 115vh;
     	padding: 40px 0;
     }

     .right-item > nav {
     	flex-direction: column;
     	width: 80%;
     }

    .right-item > nav > *{
    	margin: 13px 0;
    	font-weight: 600;
    } 

    .right-item > img {
    	width: 80%;
    	left: 10%;
    }

    .round-four {
    	width: 30px;
    }

    .round-two {
    	right: 3%;
    }

    .round-three {
    	left: 18%;
    }


}


.navigation-mn-first > a:nth-child(1) {
	opacity: 1 !important;
}

@media screen and (max-width: 480px){
	.wrap-main{
		height: auto;
		grid-template-columns: 1fr
	}

	.left-text-content {
		width: 90%;
	}

	.right-item > nav{
		display: block
		padding:25px 0;
	}

	.right-item > nav > a {
		display: block;
		text-align: center;
		margin: 30px 0;
	}

	.right-item >img {
		position: absolute;
		z-index: 2;
		width: 268px;
		bottom: -2%;
		left: 3%;
	}

    .left-arrow, .right-arrow {
    	top: 64%;
    }


}
