body, a, button {
	font-family: 'Nunito', sans-serif !important;
}


h1{
	font-size: 44px;
}

#main-first-screen {
	position: relative;
	color: #fff;
	height: 100vh;
	background-image: url(img/bg.jpg);
	background-size: cover;
	background-position: center;
}

#main-first-screen > article {
	width: 88vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
}

.mfs-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
}

.mfs-header-first {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}


.navigation-mn-first > a{
	color: #fff;
	text-decoration: none;
	margin-left: 22px;
	opacity: 0.7;
}

.navigation-mn > a{
	color: #fff;
	text-decoration: none;
	margin-left: 22px;
	opacity: 0.7;
}

.search-more{
	background-color: rgb(170,84,115) !important;
	color: #fff;
	border: 2px solid rgb(170,84,115)!important;
	padding: 18px 38px !important;
	font-size: 16px !important;
}

.search-more:hover{
	background-color: unset !important;
	color:#fff !important;
}

.logo {
	color: #fff;
}

.mfs-main-content {
	text-align: center;
}

.mfs-main-content > p {
	margin: 40px 0;
}

.mfs-main-btns {
	text-align: center;
}

.about-what {
	text-align: center;
}

.active-link {
	border-bottom: 1px solid #fff;
	font-weight: 600;
	opacity: 1 !important;
}

.logo-first {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.description-first {
	text-align: center;
	font-weight: 400;
	font-size: 20px;
}

.charles-img {
	width: 200px;
}

.modal-window-stories {
	position: absolute;
	padding: 26px 32px;
	background-color: rgba(255,255,255,1);
	right: 2%;
	bottom: 2%;
	border-radius: 13px;
	display: flex;
	align-items: center;
	box-shadow: 3px 6px 40px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: 500ms ease-out;
}

.modal-window-stories:hover {
	transform: translateY(-10px);
	border-radius: 9px;
}

.modal-window-stories > a {
	margin-right: 15px;
	text-decoration: none;
	color: rgb(170,84,115);
}

@media screen and (max-width: 480px){
	#main-first-screen {
		height: auto;
		min-height: 800px;
	}

	#main-first-screen > article {
		width: 90vw;
	}

	.navigation-mn-first {
		display: block;
	}

	.navigation-mn-first > a { 
		display:block;
		text-align: center;
		margin: 25px 0;
	}

	.active-link {
		border-bottom: none;
	}

	.modal-window-stories {
		position: absolute;
		bottom: 1%;
		right: 8%;
		left: 8%;
	}

	.modal-window-stories > img {
		width: 30px;
	}

	.logo-first {
		font-size: 40px;
	}

	.mfs-header {
		padding-top: 20px;
	}

}
