body {
	margin: 0;
	padding: 0;
	font-family: 'Museo Sans Cyrl 100';

}

article, .center-menu {
	width: 93vw;
	margin: 0 auto;
}

header {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	background-color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	height: 100px;
	z-index: 10;
}

h1 {
	font-size: 42px;
    font-family: 'Museo Sans Cyrl 300';
    margin: 70px 0;
    color: #2e2e2e;
}

.title-decor {
	background-image: -moz-linear-gradient(90deg, #f5ba33 0%, #ffe187 100%);
	background-image: -webkit-linear-gradient(90deg, #f5ba33 0%, #ffe187 100%);
	background-image: -ms-linear-gradient(90deg, #f5ba33 0%, #ffe187 100%);
	border-radius: 3px;
	padding: 0 7px;

}


footer {
	background-color: rgb(39, 39, 39);
	padding: 37px 0 46px 0;
	color: #fff;
}

a {
	text-decoration: none;
}

section {
		background-color: rgb(242, 242, 242);

}


#first {
	background-color: rgb(242, 242, 242);
	padding-top: 110px;
}

.center-menu, .left-menu, .logotype {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

h2 {
	font-size: 38px;
		font-family: 'Museo Sans Cyrl 300';

}

.left-menu {
	width: 76%;
}

.left-menu > a {
	color: rgb(39, 39, 39);
}



.left-menu > a:hover {
	color: rgba(0, 0, 0, 0.68);
}

.animals {
	color: red;
}

.logotype > img, .logotype-foot>img {
	width: 34px;
}

.logotype > p, .logotype-foot>p {
	font-size: 10px;
	text-transform: uppercase;
	line-height: 12px;
	margin-left: 10px;
}

.main-grid {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 23px;
	grid-auto-rows: minmax(400px, auto)
}

.main-item {
	padding: 40px 30px;
	border-radius: 6px;
	background: #ffffff;
	box-shadow:  20px 20px 49px #fafafa, 
	             -20px -20px 49px #ffffff;
}

.first-bg {
	position: relative;
	background-image: url(img/firstscreen.jpg);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
		border-radius: 6px;

}

.first-bg::after {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 6px;
	background-image: linear-gradient( 45deg, rgba(159, 68, 211, 0.66) 26%,
		rgba(115, 103, 240, 0.09) 70%);
}

.grid-txt {
	position: absolute;
	position: relative;
	z-index: 3;
	color: #fff;
}

.sec-bg {
	background-image: url(img/second.jpg);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.sale {
	padding: 5px 12px;
	text-transform: uppercase;
	font-size: 12px;
	background-color: rgba(255, 0, 0, 0.4);
	border-radius: 4px;
}


.carousel-wrapper{
	grid-column: 1/3;
}

.first-bg, .sec-bg, .third-bg {
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.flex-foot * {
	margin: 0;
	padding: 0;
}

.foot-item > a {
	color: #fff;
}

.btn-main {
position: relative;
max-width: 315px;
width: 100%;
display: inline-block;
text-align: center;
font-size: 14px;
background-color: transparent;
text-transform: uppercase;
letter-spacing: 0.08em;
color: #483f38;
font-weight: 700;
transition: ease 0.5s;
border-radius: 60px;
box-shadow: 0px 5px 0px 0px rgba(221, 157, 86, 0.004);
}

.btn-main::before {
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 80px;
background-color: #dd9d56;
border-radius: 60px;
z-index: 1;
transition: ease 0.3s;
box-shadow: 0px 6px 24px 0px rgba(221, 157, 86, 0.6);
}

.btn-main::after {
content: "";
position: absolute;
left: 0;
top: 0;
width: 94%;
height: 79px;
z-index: -2;
border-radius: 60px;
}

.btn-main:hover::before {
background-color: #ecb06d;
transition: ease 0.3s;
}

.btn-main span {
display: inline-block;
position: relative;
width: 100%;
background-image: -moz-linear-gradient(90deg, #f5ba33 0%, #ffe187 100%);
background-image: -webkit-linear-gradient(90deg, #f5ba33 0%, #ffe187 100%);
background-image: -ms-linear-gradient(90deg, #f5ba33 0%, #ffe187 100%);
line-height: 69px;
border-radius: 60px;
padding-top: 5px;
z-index: 2;
will-change: transform;
}

.btn-main span::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: -moz-linear-gradient(90deg, #ffcc47 0%, #ffe596 100%);
background-image: -webkit-linear-gradient(90deg, #ffcc47 0%, #ffe596 100%);
background-image: -ms-linear-gradient(90deg, #ffcc47 0%, #ffe596 100%);
transition: ease 0.3s;
opacity: 0;
border-radius: 60px;
z-index: -1;
}

.flex-foot {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	justify-content: space-between;
}

.btn-foot {
	width: 64%;
	font-size: 12px;
	margin-top: 16px;
}

.btn-foot span {
	line-height: 47px;

}

.btn-foot::before {
	height: 55px;
}


.mail-inp {
	background: unset;
	border: none;
	color: #fff;
	border-bottom: 1px solid #a2a2a2;
	width: 64%;
	font-size: 16px;
	outline: none;
	font-weight: 100;
}

.items > * {
	margin-bottom: 15px;
}

.phone-number a {
	color: #fff;

}

.descr-foot {
	font-size: 13px;
	opacity: 0.8;
}

.logotype-foot {
	 display: -webkit-flex;
	 display: -moz-flex;
	 display: -ms-flex;
	 display: -o-flex;
	 display: flex;
	 -ms-align-items: flex-start;
	 align-items: flex-start;
}

.foot-map {
	width: 100%;
	height: 100px;
	margin-top: 15px;
}

.map-link {
	color: #f5ba33;
}

#second {
	padding-top: 60px;
}


@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 46px;
  margin-bottom: 76px;
}
.slider::before, .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(250px * 10);
}
.slider .slide {
  width: 250px;
}

.slide > a {
	color: #2e2e2e;
}

.slide-img	{
	width: 100%;
}

.slide-btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.slide-btn:hover {
	color: rgba(255, 0, 0, 0.8);
}

.img-more {
	margin-left: 18px;
	width: 18px;
}


.second-title {
	margin: 0;
}



