@media screen and (max-width:  480px) {
	.left-menu > a {
		display: none;
	}
	.left-menu {
		width: 45%;
	}

	h1 {
		font-size: 31px;
		margin: 50px 0;
		line-height: 41px;
	}

	h1 > br {
		display: none
	}

	.main-grid {
		grid-template-columns: 1fr;
	}

	.carousel-wrapper {
		grid-column: 1/2;
	}

	.flex-foot {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 90vh;
		font-size: 14px !important;
	}

	.foot-item > .items> *{
		width: 100%
	}

	.btn-main {
		max-width: 100%;

	}

	.mail-inp {
		font-size: 21px !important;
	}

	.wrapper-chick {
		grid-template-columns: 1fr;
	}

	.chick-item > p {
		font-size: 16px;
	}

	
}


