body {
	font-family: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

#first {
	height: 100vh;
	background-image: url(img/back.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	padding-top: 30px;
	position: relative;
}

article {
	width: 87.5vw;
	margin: 0 auto;

}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header__logo {
	display: flex;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
}

.logotype {
	width: 2.1vw;
	height: 2.1vw;
	margin-right: 10px;
}

.header a {
	text-decoration: none;
	color: #fff;
}

.descrlogo {
	font-size: 1.4vh;
}

.phone {
	font-size: 2vh;
	font-weight: 600;
}

.main__offer {
	margin-top:22vh;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

h1 {
	font-size: 5.3vh;
	line-height: 6.8vh;
	font-weight: 600;
}

h1 span {
	color: #81e291;
}

.first__descript {
	margin: 20px 0;
}

.first__plus {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	width: 450px;
	justify-content: space-between;
}

.plus {
	display: flex;
	width: 45%;
}

.plus img{
	height: 35px;
	margin-right: 12px;
}

.btn1 {
	border:none;
		  background-image: -moz-linear-gradient( -90deg, rgb(163,245,121) 0%, rgb(163,245,121) 50%, rgb(142,217,91) 74%, rgb(121,189,61) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(163,245,121) 0%, rgb(163,245,121) 50%, rgb(142,217,91) 74%, rgb(121,189,61) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(163,245,121) 0%, rgb(163,245,121) 50%, rgb(142,217,91) 74%, rgb(121,189,61) 100%);
  box-shadow: 0px 3px 96.46px 9.54px rgba(147, 226, 98, 0.34);

	border-radius: 50px;
	width: 230px;
	height: 60px;
	color: #252525;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 40px;
	cursor: pointer;
}

.btn1:hover {
	transition: .3s;
	background-image: -moz-linear-gradient( -90deg, rgb(248,203,137) 0%, rgb(226,171,93) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(248,203,137) 0%, rgb(226,171,93) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(248,203,137) 0%, rgb(226,171,93) 100%);
	box-shadow: 0px 4px 114px 6px rgba(178, 255, 151, 0.45);


}

.camera__one {
	position: absolute;
	top: 22%;
	left: 49%;
	width: 160px;
	height: auto;
}

.camera__two {
 	position: absolute;
	top: 68%;
	left: 79%;
	width: 160px;
	height: auto;	
}




/*________________ SECOND SCREEN _________________*/

#second {
	text-align: center;
	height: 100vh;
	padding-top: 65px;
}

#second p {
	color: #97999e;
	width: 70%;
	margin: 0 auto 45px auto;
	line-height: 25px;
}

h2 {
	font-weight: 400;
	padding-bottom: 50px;
	text-align: center;
}

.main__cases {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.case__two {
	width: 23%;
	height: 50vh;
	border-radius: 8px;
	background-image: url(img/Case1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.image {
	border-radius: 10px;
}


.btn2 {
	border:none;
	  background-image: -moz-linear-gradient( 90deg, rgb(88, 189, 72) 0%, #baecb0 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(88, 189, 72) 0%, #baecb0 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(88, 189, 72) 0%, #baecb0 100%);

	  box-shadow: 0px 10px 30px rgba(88, 189, 72, 0.3), 0px 20px 50px rgba(88, 189, 72, 0.3), 0px 5px 20px rgba(88, 189, 72, 0.2), inset 0 -1px 0px 3px rgba(255, 255, 255, 0.15);
	border-radius: 50px;
	width: 230px;
	height: 60px;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 40px;
	cursor: pointer;
	font-weight: 700;
}

.btn2:hover {
	transition: .3s;
	  background-image: -moz-linear-gradient( -90deg, rgb(173,206,161) 0%, rgb(102,159,80) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(173,206,161) 0%, rgb(102,159,80) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(173,206,161) 0%, rgb(102,159,80) 100%);

}


/*_________________THIRD SECTION________________
*/

#third {
	padding-bottom: 70px;

}

.pricing {
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

.item__price {
	text-align: center;
	border:1px solid #eff0f4;
	padding: 33px 28px;
	border-radius: 8px;
	margin-top: 20px;
	margin-left: 14px;
	margin-right: 14px;
}

.bg__middle {
	background-image: url(img/winner1.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: left;


} 

.first__bg:hover {
	transition: .3s;
	background-image: url(img/pawn1.png);
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-background-size: auto;
	background-size: auto;

}


.bg__third:hover {
	transition: .3s;
	background-image: url(img/strategy2.png);
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-background-size: auto;
	background-size: auto;

}

.item__price:hover {
	box-shadow: 0px 28px 57px 0px rgba(0, 0, 0, 0.083);
	border: 1px solid #fff;
	transition: .3s;
}

.item__price p {
	font-size: 14px;
}

.item__price button {
	margin-bottom: 30px;
}

.item__price li {
	font-size: 14px;
	color: #7a7a7a;
	margin: 5px 0;
}

.tarif {
	font-size: 12px !important;
}

li, ul {
	text-decoration: none;
	list-style: none;
}

.cena {
	font-size: 40px !important;
	font-weight: 300 !important;
	margin: 30px 0 30px 0;

}

.cena span {
	font-size: 12px;
	color: #7a7a7a;
}

.loyal {
	color: #7a7a7a;
}

.space {
	border:1px solid #eff0f4;
	justify-content: space-between;
	padding: 22px 55px;
	border-radius: 8px;
	margin-top: 20px;
}

.plan {
	margin-top: 35px;
	text-align: center;
}

.plan > span {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 600;
	opacity: 0.3;
}

.plan__item {
	display: flex;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
}

.plan__item > p {
	margin-left: 20px;
}

.plan__item > img {
	width: 18px;
	height: 18px;
}


/*_____________ FOURTH SCREEN _______________*/

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(300px, auto);
}

.people__photos > img {
	width: 100%;
	height: auto;
}

.wrapper__first {
	-ms-align-self: center;
	align-self: center;
}

.social {
	display: flex;
	justify-content: space-between;
	width: 120px;
	margin-top: 100px;
}

.social > a > img {
	width: 30px;
	height: auto;
}

.social > a {
	text-decoration: none;
}

.slide {
	width: 300px;
	margin-bottom: 10px;
}

.slide:after {
	content: " ";
	border-bottom:  1px solid rgb(229, 229, 233);
	display: block;
	margin-top: 30px;
}

.slide > a{
	text-decoration: none;
	margin-right: 20px;
	display: inline-block;
}

.imp {
	margin-right: 0;
}

.slide > a:hover{
	transition: .3s;
	opacity: 0.7;
}



.wrapper__name {
	margin-top: 25px;
	font-weight: 700;
	font-size: 24px;
}

.character {
	width: 75%;
	line-height: 25px;
	color: #7a7a7a;
	margin-top: 25px;
}

.specialize {
	font-size: 0.8em;
	font-weight: 300;
}

/*________________FOOTER_________________*/
footer {
	height: 20vh;
	background-color: rgb(41, 39, 36);
	color: #fff;
	display: flex;
}

.foot__display {
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}


.phone, .foot__link, .adress {
	color: #fff;
	font-size: .73em;
}

.btn3 {

	border:none;
	  background-image: -moz-linear-gradient( 90deg, rgb(88, 189, 72) 0%, #baecb0 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(88, 189, 72) 0%, #baecb0 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(88, 189, 72) 0%, #baecb0 100%);

	  box-shadow: 0px 10px 30px rgba(88, 189, 72, 0.3), 0px 20px 50px rgba(88, 189, 72, 0.3), 0px 5px 20px rgba(88, 189, 72, 0.2), inset 0 -1px 0px 3px rgba(255, 255, 255, 0.15);
	border-radius: 50px;
	width: 190px;
	height: 47px;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
	font-weight: 700;

}


@media screen and (max-width: 480px) {
	#first, #second, #third, #team {
		text-align: center;
		height: inherit;
		padding-bottom: 60px;
	}
	.first__plus {
		display: inherit;
		width: 100%;
	}

	.logotype {
		height: 28px;
		width: auto;
	}

	.header__logo {
		text-align: left;
	}

	.plus {
		display: flex;
		width: 100%;
	}

	.camera__one {
		top: 5%;
		left: 42%;
		width: 110px;
	}

	.camera__two {
		top: 68%;
		left: 71%;
		width: 110px;
	}

	.main__offer {
		margin-top:9vh;
		
	}

	.btn1 {
		width: 280px;
		height: 70px;
		font-size: 13px;
	}

	.main__cases {
		display: inherit;
	}
	

	.case__two {
		width: 100%;
		height: 50vh;
		margin: 25px auto;
	}
	
	#third {
		margin-top: 30px;
	}


	.item__price {
		padding: 33px 28px;
		border-radius: 8px;
		width: 100%;
		margin-top: 20px;
	}
	
	.space {
		display: inherit;
		width: 100%;
		padding: 22px 0px;
		border-radius: 8px;
		margin-top: 20px;
	}

	.plan__item {
		margin: 10px auto;
		display: block;
	}
	.plan__item > p {
		display: inline-block;
	}

	.wrapper {
		display: inherit;
		text-align: left;
	}

	.social {
		margin: 35px 0;
	}

	footer {
		height: inherit;
		display: flex;
		padding: 40px 0;
	}

	.foot__display {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		-ms-align-items: center;
		align-items: center;
	}

	.foot__display > div {
		width: 50%;
		margin-top: 20px;
	}
	
	.foot__display > button {
		margin-top: 20px;
	}

}


/*_______________ ADAPTIVE ________________*/
/*@media screen and (max-width: 480px) {
	#first, #second, #third {
		height: inherit;
		padding-bottom: 45px;
	}
	article {
		width: 90vw;
		margin: 0 auto;
	}

	h1 {
		text-align: center;
	}

	.main__offer {
		margin-top:9vh;
	}

	.first__descript {
		text-align: center;
		width: 100%;
	}

	.first__plus {
		display: inherit;
		flex-wrap: inherit;
		margin-top: 20px;
		justify-content: inherit;
	}
	
	.plus {
		display: flex;
		width: 100vw;
		-ms-align-items: center;
		align-items: center;
	}

	.plus img{
		height: 35px;
		margin-right: 12px;
	}
	
	.btn1 {
		width: 65%;
		height: 68px;
		font-size: 11px;
	}

	.descript__elements {
		text-align: center;
	}

	.camera__one {
		position: absolute;
		top: 10%;
		left: 8%;
		width: 100px;
		height: auto;
	}

	.camera__two {
	 	position: absolute;
		top: 68%;
		left: 25%;
		width: 105px;
		height: auto;	
	}

	.logotype {
		width: 26px;
		height: 26px;
	}


	.pricing {
		display: inherit;
		-webkit-flex-wrap: inherit;
		-moz-flex-wrap: inherit;
		-ms-flex-wrap: inherit;
		-o-flex-wrap: inherit;
		flex-wrap: inherit;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
	}
	
	.space {
		width: 50%;
	}

	.plan__item {
	display: flex;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	}

	.plan__item > p {
		margin-left: 20px;
	}

	.plan__item > img {
		width: 18px;
		height: 18px;
	}
}
*/